* {
    background:          #0e151399;
    background-alt:      #0e1513;
    foreground:          #dde4e1;

    selected:            #83d5c6;
    selected-foreground: #003731;

    active:              #b1ccc6;
    active-foreground:   #1c3530;

    urgent:              #ffb4ab;
    urgent-foreground:   #690005;
}
