* {
    background:          #18130b99;
    background-alt:      #18130b;
    foreground:          #ece1d4;

    selected:            #f1be6d;
    selected-foreground: #432c00;

    active:              #dcc3a1;
    active-foreground:   #3d2e16;

    urgent:              #ffb4ab;
    urgent-foreground:   #690005;
}
