* {
    background:          #12131899;
    background-alt:      #121318;
    foreground:          #e3e2e9;

    selected:            #b4c5ff;
    selected-foreground: #1b2d61;

    active:              #c1c5dd;
    active-foreground:   #2b3042;

    urgent:              #ffb4ab;
    urgent-foreground:   #690005;
}
