/* @import "../omarchy/current/theme/waybar.css"; */

@import "generated_colors.css";
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'FiraCode Nerd Font Propo,FiraCode Nerd Font Propo Med';
  font-size: 16px;
}

tooltip {
  border-radius: 15px;
  background: @background;
  border: 2px solid alpha(@foreground, .5);
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @background; 
  border-radius: 19px;          
  padding: 0px 5px;
  margin: 5px 0px 0px 0px;
  min-height: 10px;
  color: @foreground;
}

.modules-left {
  margin-left: 5px;
}

.modules-right {
  margin-right: 5px;
}


.hidden {
  opacity: 0;
}

#memory,
#window,
#tray-expander,
#clock,
#cpu,
#network,
#bluetooth,
#pulseaudio,
#pulseaudio-slider,
#custom-update{
  background-color: alpha(@foreground, 0.1);
  padding: 5px 12px;
  margin: 5px 0;
  border-radius: 0;
}


#window:hover,
#clock:hover,
#backlight:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#pulseaudio-slider:hover,
#custom-update:hover {
  background-color: alpha(@foreground, .2);
  transition: .7s;
}

#custom-expand-icon {
  margin-right: 7px;
  padding: 0px 10px;
  border-radius: 15px;
}

#tray,
#memory,
#cpu {
  background-color: transparent;
  margin: 5px;
  padding: 0 2px;
}

#tray-expander {
  padding: 0 0 0 1px;
  margin-left: 0px;
  border-radius: 15px;
  background-color: transparent;
}

#cpu {
  padding: 0 15px 0 10px;
  border-radius: 0 15px 15px 0;
  margin-right: 0px;
}

/* Configuring the active window */
window#waybar {
  background: transparent;
}


/* Configuring Workspaces in the middle */
#workspaces {
    background-color: alpha(@foreground, .05);
    border: none;
    padding: 0px;
    margin: 5px 0px;
    margin-right: 0px;
    border-radius: 15px;
}

#workspaces button {
    padding: 0px 8px;
    margin: 0px 3px;
    color: @background;
    border-radius: 15px;
    background-color: alpha(@foreground, .4);
}

#workspaces button.active {
    padding: 0px 20px;
    /* margin: 0px 5px; */
    background: @primary;
    color: @on-primary;
    border-radius: 15px;
    opacity: 1; 
    transition: 0.1s;
}

#workspaces button.empty {
    opacity: 0.2; 
}

#workspaces button.empty.active {
opacity: 0.75; 
}

#workspaces button:hover:not(.active) {
    background-color: alpha(@foreground, .3);
    color: @background;
    opacity: 1; 
    transition: .3s;
}

/* Configuring the middle modules */
#clock {
  border-radius: 15px;
  padding: 0 15px;
  margin: 5px 0px;
  background-color: transparent;
}

#custom-update {
  font-size: 14px;
  border-radius: 15px;
  padding: 0 11px 0 10px;
  margin-left: 2px;
  margin-right: 0px;
}



#window {
  border-radius: 15px; 
  padding: 5px 10px;   
  margin-right: 0px;   
  transition: 0.1s;
}


#network {
  border-radius: 15px 0 0 15px;
}

#pulseaudio {
  padding: 0 5px 0 10px;
}
#pulseaudio-slider {
    border-radius: 0px 15px 15px 0px;

}
#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 6px;
  min-width: 75px;
  border-radius: 5px;
  background: @background;
}

#pulseaudio-slider highlight {
  min-width: 6px;
  border-radius: 15px;
  background: @primary;
}

window#waybar.empty #window {
  color: transparent;
  padding: 0;
  margin: 0;
}

#media {
  font-size: 12px;
  border-radius: 15px;
  transition: 0.1s;
}
#custom-media-animation {
  color: @primary;
}
#custom-media-animation.playing {
  transition: 0.1s;
  padding: 5px 12px;
  font-size: 10px;
}
#custom-media-animation.paused {
  margin: 0px 10px;
  transition: 0.1s;
}
#custom-media-animation.empty {
  min-width: 0px;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    border: none;
    font-size: 0px;
    opacity: 0;
  transition: 0.1s;
}
#custom-media-now-playing {
    padding: 0px 8px;
    margin: 0px;
}

